.search__form {
  .dropdown__content {
    padding: 0 1em 1em 1em;
    @include breakpoint($breakpoint-medium) {
      padding: 1em;
    }

    .checkbox {
      padding: $space-xxs 0;
    }
  }

  .dropdown__content-inner {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: $space-s;
  }

  .search-filters {
    display: flex;
    flex-direction: row;
    // @TODO Temp fix for iPad
    @media only screen and (min-width: 601px) and (max-width: 1000px) {
      flex-direction: column;
    }

    .search-filters__dropdowns {
      display: flex;
    }

    h3 {
      padding: $space-l 0 $space-xs 0;
    }

    .dropdown__content-buttons {
      display: flex;
      float: right;
      padding: .25em 0;
    }
  }

  .search__form-filters {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5em 0 0 0;
    //
    .open-now {
      margin: 0 4.5em;
    }
    @include breakpoint($breakpoint-medium) {
      display: contents;
      .open-now {
        margin: initial;
      }
    }
  }

  .search-filters__group2 .search-filters__dropdowns .dropdown:last-child {
    .dropdown__content {
      right: 0;
    }
  }

  // Search filters mobile
  .search-filters__mobile {
    #search-filters__mobile-filters-button {
      min-width: 140px;
    }

    .mobile-filters-button.hasSelectedItems button {
      background: $gray-light;
      border: 1px solid $black;
    }

    .dropdown-mobile-clear-wrapper button {
      margin: 0 auto;
    }

    .dropdown {
      &__input {
        &:checked {
          + .dropdown__label {
            border-bottom: 0;
          }
        }
      }

      &.hasSelectedItems {
        .dropdown__label {  
          background-color: $gray-light;
        }
      }
    }

    .dropdown__label {
      padding: .65rem .5rem;
    }

    .dropdown {
      margin: .75rem 0;
    }
    .heading {
      padding: $space-m 0 $space-xs 0;
    }
    .dropdown__content-buttons {
      display: flex;
      justify-content: space-between;

      #button-clear-all {
        margin-left: -10px;
      }
    }
  }
  //
  .term-child {
    padding-left: 1em;
  }
}