NEXT_PUBLIC_NYPL_DOMAIN=https://www.nypl.org
NEXT_PUBLIC_GRAPHQL_API=http://localhost:3000/api/graphql
DRUPAL_API=https://qa-drupal.nypl.org
NEXT_PUBLIC_DRUPAL_PREVIEW_SECRET=replaceWithPreviewSecret
DRUPAL_CONSUMER_UUID=uuid-1234
DRUPAL_CONSUMER_SECRET=replaceWithConsumerSecret
REFINERY_API=https://refinery.nypl.org/api/nypl
NEXT_PUBLIC_GOOGLE_MAPS_API=x1234x
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-VEXBPRSL67
NEXT_PUBLIC_ALLOWED_ORIGIN=http://localhost:3009
ASSET_PREFIX=''
# Sendgrid
SENDGRID_API_KEY=replaceWithSendGridApiKey
SENDGRID_EMAIL_ENABLE=false
# Salesforce
SALESFORCE_CLIENT_ID=replaceWithSalesforceClientId
SALESFORCE_CLIENT_SECRET=replaceWithSalesforceClienSecret
SALESFORCE_AUTH_URL=replaceWithSalesforceAuthUrl
SALESFORCE_ACCOUNT_ID=replaceWithSalesforceAccountId
SALESFORCE_ENABLE=false
# Adobe Analytics
NEXT_PUBLIC_ADOBE_LAUNCH_URL=replaceWithAdobeAnalyticsLaunchTag
