.search-header {
  h1#location-finder__title {
    color: inherit;
    font-size: var(--font-size-3);
    font-weight: 500;
    line-height: 1.25;
    margin: 0 0 0.5em;
    width: auto;
	}
	
	.location-finder__description {
		padding-bottom: $space-xxs;
	}
  
  padding: $space-m $space-s;

  background: $gray-xlight;

  @include breakpoint($breakpoint-large) {
    @include space-stack-l;

    padding: $space-l 0;
  }

  .search-header__inner {
    @include wrapper;
  }
}
