@media (max-width: 600px) {
  .horizontal {
    margin: var(--nypl-space-s) 0rem;
  }
}
.vertical {
  margin: var(--nypl-space-s) 0rem;
}

.actionLink {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.2;
  border-radius: 2px;
  background-color: var(--nypl-brand-primary);
  color: var(--nypl-ui-white) !important;
}

.actionLink:hover {
  background-color: var(--nypl-ui-error);
}

.underline {
  border-bottom: 1px solid;
  padding-bottom: var(--nypl-space-xs);
}

.link {
  color: var(--nypl-ui-black) !important;
}

.link.noDecoration {
  text-decoration: none;
}

.description {
  margin-bottom: 1rem;
}
