.search__form {

  form {
    display: flex;
    flex-flow: wrap;
  }
  
  // Search text
  input[type="text"]:focus {
    outline: 1px solid var(--ui-focus);
    outline-offset: inherit;
  }

  .button {
    @include breakpoint($breakpoint-medium) {
      @include space-inline-s;
    }
  }

  // Open now
  .checkbox {
    width: 100%;
    align-items: center;
    //margin-top: $space-s;

    @include breakpoint($breakpoint-large) {
      width: auto;
      margin-top: 0;
    }
    label {
      white-space: nowrap;
      margin-bottom: 0;
    }
    input {
      width: 20px;
      height: 20px;
    }
  }

  // IE11 only
  // DS uses CSS variables for color and space that won't work in ie11.
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .react-autosuggest__input {
      border: 1px solid $gray-medium;
      padding: $space-xs;
    }
    
    .button {
      padding: $space-xs;
      border-radius: 2px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      background-color: $nypl-blue-dark;
      border: none;
      color: $white;
    }

    .button__icon--icon-left {
      margin-right: $space-xs;
    }

    .checkbox__input {
      margin-right: $space-xs;
    }
  }

  // Search filters

  .checkbox label {
    font-weight: 300;
  }

  .dropdown__content {
    padding: 0 1em 1em 1em;
    @include breakpoint($breakpoint-medium) {
      padding: 1em;
    }

    .checkbox {
      padding: $space-xxs 0;
    }
  }

  .search-filters {
    display: flex;

    .search-filters__dropdowns {
      display: flex;
    }

    h3 {
      padding-top: 1em;
    }

    .dropdown__content-buttons {
      display: flex;
      float: right;
      padding: .25em 0;
    }
  }

  .search__form-filters {
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5em 0 0 0;
    //
    .open-now {
      margin: 0 4.5em;
    }
    @include breakpoint($breakpoint-medium) {
      display: contents;
      .open-now {
        margin: initial;
      }
    }
  }

  // Search filters mobile
  .search-filters__mobile {
    #search-filters__mobile-filters-button {
      min-width: 140px;
    }
    .dropdown {
      margin: .5em 0;
    }
    .dropdown__content-buttons {
      display: flex;
      justify-content: space-between;

      #button-clear-all {
        margin-left: -10px;
      }
    }
  }
}
