.search__form {

  form {
    display: flex;
    flex-flow: wrap;
  }

  // Search text
  input[type="text"]:focus {
    outline: 1px solid var(--ui-focus);
    outline-offset: inherit;
  }

  .button {
    @include breakpoint($breakpoint-medium) {
      @include space-inline-s;
    }
  }

  // Open now
  .checkbox {
    width: 100%;
    align-items: center;
    //margin-top: $space-s;

    @include breakpoint($breakpoint-large) {
      width: auto;
      margin-top: 0;
    }
    label {
      white-space: nowrap;
      margin-bottom: 0;
      font-weight: 300;
    }
    input {
      width: 20px;
      height: 20px;
    }
  }

  .search-filters__group2 {
    .dropdown:first-child {
      .term {
        .checkbox {
          label {
            font-weight: 500;
          }
        }

        ul {
          padding-bottom: 4px;

          .term-child {
            .checkbox {
              label {
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

  // IE11 only
  // DS uses CSS variables for color and space that won't work in ie11.
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .react-autosuggest__input {
      border: 1px solid $gray-medium;
      padding: $space-xs;
    }

    .button {
      padding: $space-xs;
      border-radius: 2px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      background-color: $nypl-blue-dark;
      border: none;
      color: $white;
    }

    .button__icon--icon-left {
      margin-right: $space-xs;
    }

    .checkbox__input {
      margin-right: $space-xs;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1000px) {
    .open-now {
      padding: $space-s 0;
    }
  }
}
