.card {
  margin: var(--space-l) 0;
}

.cardDetailPg {
  max-width: 760px;
}

.heading {
  display: inline-block;
  padding: var(--space-xs) 0 0 0;
}

.statusBadge {
  display: block;
  margin: 0 0 var(--space-s);
}

@media (min-width: 1024px) {
  .statusBadge {
    display: inline-block;
    padding: 0 var(--space-xs);
    margin: 0;
  }
}

.labelItem {
  padding: var(--space-xxs) 0;
}

.labelItem label {
  font-weight: bold;
}

.resourceType {
  font-size: 12px;
  font-weight: 700;
  /*color: #00838A;*/
  color: var(--section-research-primary);
  text-transform: uppercase;
}

.links {
  padding: var(--space-s) 0;
}

.links a {
  display: block;
  margin: 0 0 var(--space-xs);
}

@media (min-width: 1024px) {
  .links a {
    display: inline-block;
    margin: 0;
    padding-right: 20px;
  }
}

.readmore {
  width: 100%;
}

.collapsed {
  display: none;
}

.collapsible {
  display: block;
  margin: 0 0 var(--space-m);
}
