.AlphabetNav {
  margin: 0 0 var(--space-xl);
}

.title {
  font-weight: bold;
}

.description {
  margin: 0 0 var(--space-s);
}

.letters {
  font-size: var(--font-size-1);
  font-weight: bold;
  color: var(--ui-link-primary);
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 0 .25em;
}

@media (max-width: 960px) {
  .letters {
    display: inline-block;
    width: 10%;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
  }
}

.letters.active {
  text-decoration: underline;
}

.letters.inactive {
  color: #979797;
  cursor: initial;
}

.letters.inactive:hover {
  color: #979797;
}

.letters.all {
  padding: 0 0 0 var(--space-s);
}

@media (max-width: 960px) {
  .letters.all {
    width: 100%;
    padding: 0;
  }
}
