.title {
  font-weight: bold;
}

.description {
  margin: 0 0 var(--space-s);
}

.letters {
  margin: 0 0 var(--space-xl);
}

.letters button {
  font-size: var(--font-size-1);
  font-weight: bold;
  color: var(--ui-link-primary);
  background-color: transparent;
  border: none;
}

@media (max-width: 960px) {
  .letters button {
    width: 10%;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
  }
}

.letters button.active {
  text-decoration: underline;
}

.letters button.inactive {
  color: #979797;
  cursor: initial;
}

.letters button.all {
  padding: 0 0 0 var(--space-s);
}

@media (max-width: 960px) {
  .letters button.all {
    width: 100%;
    padding: 0;
  }
}
