.search__form {
  form {
    display: flex;
    flex-flow: wrap;
  }

  // Search text
  input[type="text"]:focus {
    outline: 1px solid var(--ui-focus);
    outline-offset: inherit;
  }

  .search__form-button {
    align-self: flex-end;
    // @TODO change to use space var
    padding: 9px;

    @include breakpoint($breakpoint-medium) {
      @include space-inline-s;
    }
  }

  // DS Checkbox overides
  // @TODO Remove this when new DS checkbox is avail.
  .checkbox {
    width: 100%;
    align-items: center;

    @include breakpoint($breakpoint-large) {
      width: auto;
      margin-top: 0;
    }
    label {
      white-space: nowrap;
      margin-bottom: 0;
      font-weight: 300;
    }
    input {
      width: 20px;
      height: 20px;
    }
  }
}