@media (min-width: 960px) {
  .requestAVisit {
    width: 66%;
  }
}

.requestAVisit h2 {
  border-bottom: 1px solid var(--ui-gray-medium);
  padding-bottom: 12px;
}

.requestAVisit select {
  margin-bottom: 24px;
}

.requestAVisit fieldset {
  border: none;
  margin: 0 0 24px;
  padding: 0;
}

.checkBox,
.radio {
  margin-bottom: 18px;
}

.schoolInfo {
  margin-bottom: 24px;
}

.other,
.other ~ label {
  margin-bottom: 18px;
}
