.hero {
  background-color: $nypl-red-regular;
  .hero__inner {
    @include wrapper;
    @include ds-layout-override;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include breakpoint($breakpoint-large) {
      flex-flow: row nowrap;
    }
  }
}

.hero__image {
  width: 100%;
  padding: $space-m $space-s 0;

  @include breakpoint($breakpoint-large) {
    flex: 0 0 50%;
    padding: $space-l 0;
  }
  
  svg {
    width: auto;
    height: 55px;
    fill: $white;
    @include breakpoint($breakpoint-large) {
      height: 70px; 
    }
  }
}

.hero__content {
  padding: $space-m $space-s;
  
  color: $white;
  
  @include breakpoint($breakpoint-large) {
    flex: 0 0 50%;
  }
  
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}
