.bottom-promo {
  @include space-stack-xxl;

  padding:2em 0;

  .column {
    padding: 2rem 3rem;

    @include breakpoint($medium) {
      flex: 1 0 auto;
      float: left;
      width: 50%;
    }

    &.left {
      background-color: #FFFBF8;
    }

    &.right {
      background-color: $gray-xlight;
    }

    .promo-card {
      @include breakpoint($medium) {
        width: 40%;
        float: left;
      }

      &.promo-card-with-icon {
        @include breakpoint( max-width 600px ) {
          width: 50%;
          float: left;
          margin: 0;
        }
      }

      @include breakpoint( max-width 599px ) {
        margin-bottom: 2rem;
      }

      margin: 0 20% 0 0;

      &:last-child {
        @include breakpoint($medium) {
          margin: 0;
        }
      }
        
      .figure {
        margin: 0;
        
        img {
          @include breakpoint($medium) {
            width: 100%;
          }
        }
      }

      .promo-link {
        text-decoration: none;
        color: $black;
      }

      .icon {
        width: 100%;
        max-width: 150px;
        height: 80px;
      }

      .figure__figcaption {
        font-style: normal;
        font-weight: 500;
      }
      
      @include breakpoint( max-width 600px ) {
        width: 100%;
      }
    }

    .promo-description {
      font-size: 0.875rem;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .row {
    @include breakpoint($medium) {
      display: flex;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
