.locations {
  @include space-stack-xxl;

  padding:2em 0;

  .locations__list {
    max-height: 500px;
    overflow: scroll;
  }

  .locations__list .location {
    padding: .75em 0;

    .phone {
      margin-bottom: 0.5rem;
    }

    .accessibility-status {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: 0.5rem;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
        float: left;
      }
    }
  }

  .column {
    float: left;
    width: 50%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
