.locations {
  padding: $space-m $space-s;

  display: flex;
  flex-flow: column nowrap;


  @include breakpoint($breakpoint-medium) {
    flex-flow: row wrap;
  }

  @include breakpoint($breakpoint-large) {
    @include space-stack-l;

    padding: 0;
  }

  .locations__search-results-details {
    @include space-stack-m;
    @include breakpoint($breakpoint-medium) {
      width: 100%;
    }
  }

  .locations__list,
  .locations__map {
    @include breakpoint($breakpoint-medium) {
      flex: 1 0 50%;
    }
  }

  .locations-gmap-anchor {
    display: block;
    margin: $space-s 0;

    @include breakpoint($breakpoint-medium) {
      display: none;
      visibility: hidden;
    }
  }

  @include breakpoint($breakpoint-medium) {
    .locations__list {
      max-height: 500px;
      overflow: scroll;
    }
  }

  // @TODO Should we need to do this?
  // DS now sets width to 100%
  .select {
    width: initial;
  }
}

// @TODO move these somewhere better.
.no-results {
  padding: $space-s 0;
  color: $nypl-red-regular;
  font-style: italic;
}

.content-header {
  @include breakpoint($breakpoint-small) {
    padding-left: 0;
    padding-right: 0;
  }
}
