.locations {
  @include space-inset-m;

  display: flex;
  flex-flow: column nowrap;


  @include breakpoint($breakpoint-medium) {
    flex-flow: row wrap;
  }

  @include breakpoint($breakpoint-large) {
    @include space-stack-l;

    padding: 0;
  }

  .locations__search-results-details {
    @include space-stack-m;
    @include breakpoint($breakpoint-medium) {
      width: 100%;
    }
  }

  .locations__list,
  .locations__map {
    @include breakpoint($breakpoint-medium) {
      flex: 1 0 50%;
    }
  }

  @include breakpoint($breakpoint-medium) {
    .locations__list {
      max-height: 500px;
      overflow: scroll;
    }
  }
}

// @TODO move this somewhere better.
.no-results {
  padding: $space-s 0;
  color: $nypl-red-regular;
  font-style: italic;
}
