@media (min-width: 1024px) {
  .container {
    max-width: 760px;
  }
}

.alphabetNav {
  border-bottom: 1px solid #00838a;
  padding: 0 0 var(--space-m);
}

.paginationContainer {
  display: block;
  padding: var(--space-xs) 0 var(--space-m) 0;
}

.pagination {
  justify-content: center;
}
