.bottom-rails {
  @include space-inset-m;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @include breakpoint($breakpoint-medium) {
    @include space-stack-l;
    
    flex-flow: row nowrap;
		padding: 0;
	}
	
	@include breakpoint($breakpoint-large) {
		width: 65%;
	}
}

.right-rail {
  @include space-stack-s;

  @include breakpoint($breakpoint-medium) {
    @include space-stack-none;
  }

  .heading {
    color: $nypl-blue-regular;
  }

  &__link {
    color: $black;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  .action-link {
    @include space-inset-xs;
    
    font-size: .875rem;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: $nypl-red-regular;
    border: none;
    color: #fff;
    line-height: 1.2;
    display: inline-block;

    &:hover {
      background-color: $nypl-red-dark;
    }
  }
}
