@import '~@nypl/design-system-react-components/dist/styles.css';
@import '~@nypl/dgx-header-component/dist/styles/main';
@import "~@nypl/dgx-react-footer/dist/styles/styles.scss";

main {
  /*max-width: 1300px;
  padding: 1em;
  */
  margin: 0 auto;
}

main h1 {
  display:none;
}

// React Autosuggest
.react-autosuggest__container {
  position: relative;
  display: inline;
}

.react-autosuggest__input {
  width: 618px;
  height: 34px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 618px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

//
.location-finder-wrapper {
  margin: 0 auto;
  max-width:1300px;
  padding:2em;
  margin-bottom:20em;
}

.location-finder-wrapper .locations-list {
  max-height: 500px;
  overflow: scroll;
}

.location-finder-wrapper .locations-list .location {
  padding: .75em 0;
}

.location-finder-wrapper .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.location-finder-wrapper .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

// SearchBar
.SearchBar {
  padding: 2em 0;
  background: #F5F5F5;
}

.SearchBar .SearchBarInner {
  margin: 0 auto;
  max-width:1300px;
  padding:2em;
}

// Open now
.checkbox {
  display: inline;
  padding: 0 1em;
}

.checkbox input {
  margin-right: .5rem;
}
