.location {
  @include space-inline-l;
  @include space-stack-l;

  margin-top: 5px;
  margin-left: 5px;

  .location__name {
    @include type-scale(2);

    a {
      color: $black;
    }
  }

  .address {
    @include space-stack-xxs;
    white-space: pre-wrap;
  }

  .phone {
    @include space-stack-xxs;
  }

  .accessibility-status {
    display: flex;
    flex-flow: row nowrap;
    @include space-stack-xxs;

    .icon {
      width: 20px;
      height: 20px;
      margin-top: 0.1rem;
      margin-right: 0.5rem;
      float: left;
    }
  }

  .location__hours {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include space-stack-xxs;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
      float: left;
    }

    .location__hours-hours {
      font-weight: 700;
      margin-left: .25rem;
    }
  }

  .location__hours-appointment {
    padding-left: $space-m;
    margin: -5px 0 5px 0;
    font-weight: 700;
  }

  .location__distance {
    @include space-stack-xxs;
  }

  // Status badge.
  .location__hours-status {
    width: fit-content;
    padding: $space-xxs $space*.625;
    @include space-stack-xxs;
  }
}
