.location {
  @include space-inline-l;
  @include space-stack-l;

  .location__name {
    @include type-scale(2);

    a {
      color: $black;
    }
  }

  .address {
    @include space-stack-xxs;
    white-space: pre-wrap;
  }

  .phone {
    @include space-stack-xxs;
  }

  .accessibility-status {
    display: flex;
    flex-flow: row nowrap;
    @include space-stack-xxs;

    .icon {
      width: 20px;
      height: 20px;
      margin-top: 0.1rem;
      margin-right: 0.5rem;
      float: left;
    }
  }

  .location__hours {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include space-stack-xxs;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
      float: left;
    }

    .location__hours-hours {
      font-weight: 700;
      margin-left: .25rem;
    }
  }

  .location__distance {
    @include space-stack-xxs;
  }

  // @TODO this will probs become a DS component?
  .location__hours-status {
    @include type-scale(-1);

    width: fit-content;
    border-radius: 4px;
    background-color: $nypl-yellow-light;
    padding: $space-xxs $space*.75;
    @include space-stack-xxs;
    color: $black;
    font-weight: 300;
    font-style: italic;
  }
}
