html {
  box-sizing: border-box;
}

// Header placeholder styles.
#nypl-header {
  min-height: 62px;

  @media screen and (min-width: 832px) {
    min-height: 112px;
  }

  @media screen and (min-width: 1024px) {
    min-height: 130px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
