html {
  box-sizing: border-box;
}

#nypl-header {
  min-height: 70px;
}
@media screen and (min-width: 1024px) {
  #nypl-header {
    min-height: 207px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
