html {
  box-sizing: border-box;
}

#nypl-header {
  min-height: 62px;
}
@media screen and (min-width: 832px) {
  #nypl-header {
    min-height: 130px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
