/// Mixin - Clearfix.
/// Adds clearfix based on http://bourbon.io/docs/#clearfix
/// use example =   @include clearfix

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
