/**
 * Stylesheet for print-friendly pages
 *
 *
 */

 @media print {
  // Ensure Contrast
  body {
     color: #000 !important;
     background: #fff !important;
  }
  // Hide unnecessary navigation and asides
  #nypl-header-static,
  nav[aria-label="Breadcrumb"],
  #page-container--content-secondary,
  #footer {
    display: none;
  }
  // Remove grid layout and margins
  #main-content {
    > div {
      display: block !important;
      margin: 0;
      padding: 0;
    }
  }
  // Expand hrefs to print underlying links
  article a {
    font-weight: bold !important;
    text-decoration: none !important;
    &[href^=http]:after {
      content:" <" attr(href) "> ";
      font-weight: normal !important;
    }
  }
  // Readable margin
  @page {
    margin: 2cm;
  }
}